body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#nav {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li a {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: left;
    padding: 18px;
    text-decoration: none;
    
}

li a:hover {
    background-color: gray;
  }

#welcome {
    text-align: center;
    color: white;
    font-size: 45px;
    margin-top: 15%;
}

#education {
    color: white;
    font-size: 25px;
    text-align: center;
}

#skills {
    color: white;
    font-size: 25px;
    text-align: center;
}

#projects {
    color: white;
    font-size: 25px;
    text-align: center;
    
}

#projects > ul {
    list-style-type: none;
}

#work {
    color: white;
    font-size: 25px;
    text-align: center;
    
}