body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #296074, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#nav {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li a {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: left;
    padding: 18px;
    text-decoration: none;
    
}

li a:hover {
    background-color: gray;
  }

#welcome {
    text-align: center;
    color: white;
    font-size: 45px;
    margin-top: 15%;
}

#education {
    color: white;
    font-size: 25px;
    text-align: left;
    padding-left: 5%;
    
}

#skills {
    padding-top: 0px;
    color: white;
    font-size: 25px;
    text-align: right;
    padding-right: 5%;
}

#projects {
    color: white;
    font-size: 25px;
    text-align: left;
    padding-left: 5%;
}

#projects > ul {
    list-style-type: none;
}

#work {
    color: white;
    font-size: 25px;
    text-align: right;
    padding-right: 5%;
    padding-bottom: 5%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}